/ {
  macros {

    /**
     * Accentuated letter when using international US layout
     *
     * Params:
     *  1. Letter to use with an accent '
     *
     * Example:
     *  `&la a`
     */
    la: la {
        // ...
        compatible = "zmk,behavior-macro-one-param";
        #binding-cells = <1>;
        bindings
          = <&kp SINGLE_QUOTE>
          , <&macro_param_1to1>
          , <&kp MACRO_PLACEHOLDER>;
    };

    /**
     * Accentuated letter when using international US layout
     *
     * Params:
     *  1. Letter to use with an accent `
     *
     * Example:
     *  `&lg a`
     */
    lg: lg {
        // ...
        compatible = "zmk,behavior-macro-one-param";
        #binding-cells = <1>;
        bindings
          = <&kp GRAVE>
          , <&macro_param_1to1>
          , <&kp MACRO_PLACEHOLDER>;
    };

    /**
     * Accentuated letter when using international US layout
     *
     * Params:
     *  1. Letter to use with an accent ^
     *
     * Example:
     *  `&lc a`
     */
    lc: lc {
        // ...
        compatible = "zmk,behavior-macro-one-param";
        #binding-cells = <1>;
        bindings
          = <&kp CARET>
          , <&macro_param_1to1>
          , <&kp MACRO_PLACEHOLDER>;
    };

    /**
     * Accentuated letter when using international US layout
     *
     * Params:
     *  1. Letter to use with an accent "
     *
     * Example:
     *  `&lt a`
     */
    lq: lq {
        // ...
        compatible = "zmk,behavior-macro-one-param";
        #binding-cells = <1>;
        bindings
          = <&kp DOUBLE_QUOTES>
          , <&macro_param_1to1>
          , <&kp MACRO_PLACEHOLDER>;
    };
  };

};

SHIFT_FUNCTION(e_aigu, &la e, &la E)
